[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "printf"]
	path = printf
	url = git@github.com:PhischDotOrg/tinyprintf.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "mbed-os"]
	path = mbed-os
	url = git@github.com:PhischDotOrg/mbed-os.git
[submodule "f1usb"]
	path = f1usb
	url = git@github.com:PhischDotOrg/f1usb.git
